@font-face {
  font-family: 'icons-font';
  src:
    url('../fonts/icons-font.ttf?soaz3t') format('truetype'),
    url('../fonts/icons-font.woff?soaz3t') format('woff'),
    url('../fonts/icons-font.svg?soaz3t#icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-srch:before {
  font-weight: 600;
  content: "\e908";
}
._icon-fav:before {
  content: "\e905";
}
._icon-sub:before {
  content: "\e909";
}
._icon-acc:before {
  content: "\e900";
}
._icon-arr:before {
  content: "\e901";
}
._icon-arr-slide:before {
  content: "\e902";
}
._icon-facebook:before {
  content: "\e903";
}
._icon-filt:before {
  content: "\e904";
}
._icon-inst:before {
  content: "\e906";
}
._icon-linkedin:before {
  content: "\e907";
}
._icon-shop:before {
  content: "\e90a";
}
._icon-twitter:before {
  content: "\e90b";
}
