.head-block {

    section {
        max-width: toRem(200);
        width: 100%;

        @media (max-width: toEm(465.98)) {
            margin-bottom: toRem(20);
        }

        h3 {
            line-height: 1.375;
            /* 22/16 */
            font-weight: 600;
            margin-bottom: toRem(22);
            cursor: default;

            @media (max-width: toEm(465.98)) {
                margin-bottom: toRem(10);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: toRem(12);

            @media (max-width: toEm(465.98)) {
                row-gap: toRem(4);
            }
        }

        li {
            @media (max-width: toEm(465.98)) {
                border-bottom: 1px solid #0000001e;
            }
        }

        a {
            font-size: toRem(14);
            line-height: 1.7142;
            /* 24/14 */
            color: #1E2832;
            transition-duration: 0.3s;

            @media (any-hover:hover) {
                &:hover {
                    color: $hov-color;
                    transition-duration: 0.3s;
                }
            }
        }
    }

    // .head-block__container 

    &__container {
        padding-top: clamp(20px, -1.080rem + 11.65vw, 140px);
        padding-bottom: clamp(10px, -0.928rem + 7.77vw, 90px);
        display: flex;
        justify-content: space-between;
        column-gap: toRem(20);

        @media (max-width: toEm(877.98)) {
            flex-direction: column;
            align-items: center;
            row-gap: toRem(30);
        }
    }

    // .head-block__shop-info

    &__shop-info {
        max-width: toRem(392);
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: clamp(15px, 0.607rem + 1.65vw, 32px);

        @media (max-width: toEm(877.98)) {
            align-items: center;
        }
    }

    // .head-block__section-inner

    &__section-inner {
        display: flex;
        justify-content: space-between;
        max-width: toRem(876);
        width: 100%;

        // @media (max-width: toEm(877.98)) {
        //     text-align: center;
        // }
        @media (max-width: toEm(455.98)) {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }
    }
}

.shop-info {

    // .shop-info__logo

    &__logo {
        max-width: toRem(180);
        width: 100%;

        img {
            aspect-ratio: 180 / 34;
            width: 100%;
            max-height: toRem(34);
            object-fit: contain;
        }
    }

    // .shop-info__text

    &__text {
        font-size: clamp(14px, 0.836rem + 0.19vw, 16px);
        line-height: 1.75;
        /* 28/16 */
        color: rgba(30, 40, 50, 0.75);
        text-transform: capitalize;

        @media (max-width: toEm(877.98)) {
            text-align: center;
        }
    }

    // .shop-info__actions-list

    &__actions-list {
        max-width: toRem(208);
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            transition-duration: 0.3s;
            &::before {
                font-size: clamp(16px, 0.922rem + 0.39vw, 20px);
            }

            @media (any-hover:hover) {
                &:hover {
                    color: $hov-color;
                    transition-duration: 0.3s;
                }
            }
        }
    }
}

.bottom-block {
    background-color: #1E2832;

    // .bottom-block__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(14) 0;
        color: #fff;
    }

    // .bottom-block__copyright-info

    &__copyright-info {
        max-width: toRem(150);
        width: 100%;
        line-height: 1.375;
        /* 22/16 */
        flex-shrink: 0;
    }

    // .bottom-block__payment-icons

    &__payment-icons {
        max-width: toRem(283);
        width: 100%;
        height: toRem(24);

        @media (max-width: toEm(613.98)) {
            display: none;
        }
    }

    // .bottom-block__scroll-button

    &__scroll-button {
        position: relative;
        max-width: toRem(150);
        width: 100%;
        padding: toRem(5) toRem(39) toRem(5) toRem(15);
        line-height: 1.375;
        /* 22/16 */
        text-transform: capitalize;
        flex-shrink: 0;
        transition-duration: 0.3s;

        &::before {
            position: absolute;
            top: toRem(9.5);
            right: toRem(17);
            font-size: toRem(14);
        }

        @media (any-hover:hover) {
            &:hover {
                background-color: $hov-color;
                transition-duration: 0.3s;
            }
        }
    }
}