.header {
    background-color: $bg-color;
    position: sticky;
    top: 0;
    z-index: 1000;

    // .header__container

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: toRem(31);
        min-height: toRem(144);
        row-gap: toRem(24);
        transition-duration: 0.4s;

        * {
            &:focus-visible {
                outline: 2px solid grey;
                border-radius: toRem(5);
            }
        }

        &.shrink {
            transition-duration: 0.4s;
            row-gap: toRem(14);
            min-height: toRem(96);
            padding-top: toRem(20);

            .bottom {
                transition-duration: 0.4s;
                flex-grow: 0;

                &__list {
                    row-gap: toRem(10);
                    padding: toRem(7) 0;
                }
            }
        }

        @media (max-width: toEm(768.98)) {
            min-height: toRem(96);

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                background-color: #e3e3e3;
                height: 1px;
                width: 100%;
            }

            &.shrink {
                min-height: toRem(74);
            }
        }
    }
}

.top {
    position: relative;
    display: flex;
    column-gap: toRem(15);
    justify-content: space-between;
    align-items: center;
    max-height: toRem(34);

    // .top__form

    &__form {
        max-width: toRem(221);
        width: 100%;

        @media (max-width: toEm(768.98)) {
            max-width: toRem(108);
        }

        @media (max-width: toEm(520.98)) {
            max-width: toRem(34);
        }
    }

    // .top__logo

    &__logo {
        flex: 0 0 11.25rem;
        max-width: 11.25rem;

        img {
            object-fit: contain;
            aspect-ratio: 180 / 34;
            width: 100%;
            height: 100%;
        }
    }
}

.search {
    position: relative;

    // .search__button

    &__button {
        position: absolute;
        top: toRem(2);
        left: toRem(0);
        width: toRem(34);
        height: toRem(32);

        &::before {
            font-size: toRem(20);
        }
    }

    // .search__hidden

    &__hidden {
        visibility: hidden;
    }

    // .search__input

    &__input {
        height: 34px;
        padding: toRem(6.5) toRem(6.5) toRem(6.5) toRem(35.5);
        border-radius: toRem(5);
        width: toRem(240);
        box-shadow: 0 0 10px 1px grey;
    }
}

.actions {
    display: flex;

    @media (max-width: toEm(768.98)) {
        column-gap: toRem(12);
    }

    // .actions__adaptive-inner

    &__adaptive-inner {
        display: flex;
        column-gap: toRem(22);
        font-family: "Roboto", sans-serif;
        font-size: toRem(18);
        line-height: 1.1666;
        color: $accent-color;

        @media (max-width: toEm(768.98)) {
            align-items: center;
            column-gap: toRem(12);
        }

        @media (max-width: toEm(520.98)) {
            column-gap: toRem(32);
        }
    }

    // .actions__link

    &__link {
        transition-duration: 0.3s;
        flex-shrink: 0;

        @media (any-hover:hover) {
            &:hover {
                color: $hov-color;
                transition-duration: 0.3s;
            }
        }

        &::before {
            font-size: toRem(20);
            line-height: 0.95;
            margin-right: toRem(10.5);
            vertical-align: middle;

            @media (max-width: toEm(768.98)) {
                margin-right: toRem(5);
            }

            @media (max-width: toEm(520.98)) {
                margin-right: toRem(10.5);
            }
        }

        @media (max-width: toEm(768.98)) {
            span {
                display: none;
            }
        }

        @media (max-width: toEm(520.98)) {
            &:hover {
                text-decoration: underline;
            }

            span {
                display: inline;
            }
        }
    }

    // .actions__navigation-burger

    &__navigation-burger {
        // display: none;

        @media (max-width: toEm(768.98)) {
            display: block;
            position: relative;
            height: toRem(34);
            width: toRem(34);

            &::after,
            &::before,
            span {
                content: "";
                position: absolute;
                left: 5px;
                width: 30px;
                height: 3px;
                border-radius: 5px;
                background-color: #1e2832;
                transition-duration: 0.3s;
            }

            span {
                top: 50%;
            }

            &::after {
                top: 70%;
            }

            &::before {
                top: 30%;
            }
        }

        &.active {
            span {
                transform: scale(0);
            }

            &::after {
                transform: rotate(45deg);
                top: 50%;
            }

            &::before {
                transform: rotate(-45deg);
                top: 50%;
            }
        }
    }
}

.bottom {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    position: relative;
    transition-duration: 0.4s;


    @media (max-width: toEm(768.98)) {
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(-50px);
        opacity: 0;
        pointer-events: none;
        padding: toRem(20) toRem(20);

        &.active {
            transform: translateY(0);
            background-color: $bg-color;
            opacity: 1;
            pointer-events: all;
            transition-duration: 0.4s;
        }
    }

    @media (max-width: toEm(520.98)) {
        flex-direction: column;
        row-gap: toRem(22);
        align-items: center;
        width: 100%;
    }

    // .bottom__list

    &__list {
        display: flex;
        gap: toRem(15) toRem(57.67);
        flex-wrap: wrap;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 100%;
            background-color: #e3e3e3;
            height: 1px;
            width: 100%;
        }

        @media (max-width: toEm(1350.98)) {
            column-gap: toRem(35);
            justify-content: space-around;
            width: 100%;
        }

        @media (max-width: toEm(768.98)) {
            &::before {
                display: none;
            }
        }

        @media (max-width: toEm(520.98)) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .bottom__item

    &__item {
        line-height: 1.50;
        /* 24/16 */
        text-transform: capitalize;

        @media (max-width: toEm(768.98)) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .bottom__link

    &__link {
        transition-duration: 0.3s;

        @media (any-hover:hover) {
            &:hover {
                color: $hov-color;
                transition-duration: 0.3s;
            }
        }
    }
}