.brands-block {

    // .brands-block__container

    &__container {
        display: flex;
        align-items: center;
        min-height: clamp(90px, 2.518rem + 15.53vw, 250px);
        padding-top: toRem(20);
        padding-bottom: toRem(30);

        @media (max-width: toEm(405.98)) {
            display: none;
        }
    }
}

.label-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: toRem(5);
    flex-wrap: wrap;

    @media (max-width: toEm(835.98)) {
        justify-content: space-around;
    }

    // .label-list__item

    &__item {
        img {
            aspect-ratio: 200 / 70;
            object-fit: contain;
            max-height: clamp(40px, 1.917rem + 2.91vw, 70px);
        }
    }
}