.product-block__cards-section-bottom {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, toRem(312)));
    grid-template-rows: auto;
    gap: toRem(24);
    
    @media (max-width: toEm(1096.98)) {
        grid-template-columns: repeat(3, minmax(0, toRem(312)));
    }

    @media (max-width: toEm(792.98)) {
        grid-template-columns: repeat(2, minmax(0, toRem(312)));
    }

    @media (max-width: toEm(438.98)) {
        grid-template-columns: repeat(1, minmax(0, toRem(312)));
    }
}

.items-category__list-bottom {
    display: flex;
    column-gap: clamp(15px, 0.446rem + 2.46vw, 40.33px);
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: toEm(479.98)) {
        max-width: toRem(140);
    }
}

.prod-card__article-bottom {
    position: relative;
    display: none;

    &.show {
        display: flex;
        flex-direction: column;
        row-gap: toRem(18);
        justify-content: space-between;
    }

    @media (any-hover:hover) {
        &:hover {
            .prod-card__hover-items {
                opacity: 1;
                pointer-events: all;
                transition-duration: 0.3s;
            }
        }
    }
}

.items-category__label-bottom {
    position: relative;
    cursor: pointer;
}

.items-category__input-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked+span {
        color: #000;
        transition-duration: 0.3s
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: 37.23%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: toRem(32);
    color: rgba(30, 40, 50, 0.50);
    font-weight: 600;
}