.social-block {
    background-color: $bg-color;

    // .social-block__container

    &__container {
        padding: clamp(20px, -0.303rem + 7.77vw, 100px) 0;

        h2 {
            font-size: clamp(20px, 0.667rem + 2.91vw, 50px);
            line-height: 1.18;
            /* 59/50 */
            font-weight: 500;
            text-align: center;
        }
    }
}

.instagram {
    margin-bottom: clamp(18px, 0.115rem + 5.05vw, 70px);

    // .instagram__title

    &__title {
        margin-bottom: 
        clamp(15px, 0.064rem + 4.37vw, 60px);
    }

    // .instagram__card-box

    &__card-box {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, toRem(200)));
        gap: toRem(24);

        @media (max-width: toEm(900.98)) {
            grid-template-columns: repeat(3, minmax(0, toRem(200)));
            justify-content: space-evenly;
        }

        @media (max-width: toEm(479.98)) {
            grid-template-columns: repeat(2, minmax(0, toRem(200)));
        }
        // display: flex;
        // gap: toRem(24);

        // @media (max-width: toEm(900.98)) {
        //     flex-wrap: wrap;
        //     justify-content: space-evenly;
        // }
    }

    // .instagram__item

    &__item {
        position: relative;

        &::before {
            font-size: toRem(48);
            color: #fff;
            top: 38%;
            left: 38%;
            z-index: 5;
        }

        &::after {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.50);
        }

        &::before,
        &::after {
            position: absolute;
            opacity: 0;
            transition-duration: 0.3s;
        }

        @media (any-hover:hover) {
            &:hover {
                &::before,
                &::after {
                    opacity: 1;
                    transition-duration: 0.3s;
                }
            }
        }
    }

    // .instagram__image

    &__image {
        aspect-ratio: 1 / 1;
        max-width: toRem(200);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .email__title

    &__title {
        margin-bottom: clamp(20px, 0.201rem + 5.24vw, 74px);
    }

    // .email__form

    &__form {
        max-width: toRem(760);
        width: 100%;
        max-height: toRem(32);
        display: flex;
        justify-content: space-between;
        column-gap: toRem(15);

        @media (max-width: toEm(800)) {
            max-width: toRem(560);
        }

        @media (max-width: toEm(587)) {
            max-width: toRem(360);
        }

        @media (max-width: toEm(587)) {
            max-width: toRem(290);
        }
    }

    // .email__input

    &__input {
        background-color: $bg-color;
        border-bottom: 2px solid #000;
        padding: toRem(0) toRem(15) toRem(13) toRem(15);
        max-width: toRem(643);
        width: 100%;

        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-size: clamp(14px, 0.850rem + 0.13vw, 16px);
            line-height: 1.1875;
            /* 19/16 */
            font-weight: 600;
            color: rgba(31, 41, 51, 0.50);
        }

        &:focus-visible {
            outline: none;
        }
    }

    // .email__button

    &__button {
        border-bottom: 2px solid #000;
        padding: toRem(0) toRem(16) toRem(10) toRem(16);
        transition-duration: 0.3s;

        span {
            font-size: clamp(14px, 0.850rem + 0.13vw, 16px);
            line-height: 1.375;
            /* 22/16 */
            color: #1E2832;
            text-transform: uppercase;
            transition-duration: 0.3s;
        }

        @media (any-hover:hover) {
            &:hover {
                border-color: $hov-color;

                span {
                    color: $hov-color;
                }
            }
        }
    }
}